In [127]:
import pandas as pd
df=pd.read_csv('C:\\ectbcsv.csv')
print(df)

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           48        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [128]:
#Change pivot
tdf=df.pivot(index="date",columns="city")
print(tdf)

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          48     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [129]:
#specific column
tdf=df.pivot(index="date",columns="city",values="humidity")
print(tdf)

city      beijing  mumbai  new york
date
5/1/2017       26      80        56
5/2/2017       30      83        58
5/3/2017       35      85        60

In [130]:
#avg of df entires
tdf=df.pivot_table(index="city",columns="date")
print(tdf)

         humidity                   temperature
date     5/1/2017 5/2/2017 5/3/2017    5/1/2017 5/2/2017 5/3/2017
city
beijing        26       30       35          48       77       79
mumbai         80       83       85          75       78       82
new york       56       58       60          65       66       68

In [131]:
tdf=df.pivot_table(index="city",columns="date",aggfunc="sum")
print(tdf)

         humidity                   temperature
date     5/1/2017 5/2/2017 5/3/2017    5/1/2017 5/2/2017 5/3/2017
city
beijing        26       30       35          48       77       79
mumbai         80       83       85          75       78       82
new york       56       58       60          65       66       68

In [132]:
#avg of each row & col value in All field
tdf=df.pivot_table(index="city",columns="date",margins=True)
print(tdf)

         humidity                              temperature                    \
date     5/1/2017 5/2/2017 5/3/2017        All    5/1/2017 5/2/2017 5/3/2017
city
beijing        26       30       35  30.333333          48       77       79
mumbai         80       83       85  82.666667          75       78       82
new york       56       58       60  58.000000          65       66       68
All            54       57       60  57.000000          62       73       76


date            All
city
beijing   68.000000
mumbai    78.333333
new york  66.333333
All       70.888889

In [133]:
df=pd.read_csv('C:\\ectbcsv2.csv')
print(df)

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  7/2/2017    mumbai           78        83
5  7/3/2017    mumbai           82        85
6  7/1/2017   beijing           48        26
7  7/2/2017   beijing           77        30
8  7/3/2017   beijing           79        35

In [138]:
#avg temperature of city b/w two different dates
df["date"]=pd.to_datetime(df["date"])
d=df.pivot_table(index=pd.Grouper(freq="M",key="date"),columns="city")
print(d)

             humidity                 temperature
city          beijing mumbai new york     beijing mumbai   new york
date
2017-05-31        NaN   80.0     58.0         NaN   75.0  66.333333
2017-07-31  30.333333   84.0      NaN        68.0   80.0        NaN